@{
    ViewData["Title"] = "Infromación";
}
<h2>@ViewData["Title"]</h2>


<div class="container">
    <p>Sitio web creado por el grupo SPEF.</p>
    <img src="~/picture/SPEF.jpg" class="imgSlider" />
    <p>
        Integrantes:
        Emmanuel Gonzalez,
        Patricio Correa,
        Felix Encina,
        Fernando Luna,
        Pablo Navarro.
    </p>
    <p>Materia: Programación V.</p>
    <p>
        Profesor:
        Emmanuel Senatori.
    </p>
</div>
