@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2><br />

<div class="row">
    <div class="col-md-6">
        <section>
            <img src="~/picture/contacto.jpg" class="imgContact" /><br />
            <br />
            <address>
                ACTI - Asociación Civil TaekwonDo ITF<br />
                Av. Castañares 2500<br />
                <abbr title="Phone">Phone: 11-2240-0480</abbr><br />
                Cod. Postal: 1439
            </address>

            <address>
                <strong>Asociación:</strong> <a href="mailto:informes@acti.com.ar">informes@acti.com.ar</a><br />
                <strong>Director:</strong> <a href="mailto:jeronimo.caira@acti.com.ar">jeronimo.caira@acti.com.ar</a><br />
                <strong>Instagram:</strong> <a href="https://www.instagram.com/acti_tkd/">Acti-Tkd</a><br />
                <strong>Facebook:</strong> <a href="https://www.facebook.com/acti.tkd">Acti.tkd</a>
            </address>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <div>
                <h2>Asociación Civil TaekwonDo ITF</h2>
                <p>
                    Nuestra asociación tiene como objetivo la enseñanza del Taekwon-Do en gimnasios, centros deportivos y establecimientos de educación primaria y secundaria. En estos últimos, a nivel extra programático u opcional dentro de los planes de estudio de dichas instituciones.

                    Asimismo, esta actividad se realizará en forma acorde a los objetivos particulares de cada institución.<br />

                    Las bases estructurales de nuestra escuela son:

                    <ul>
                        <li>
                            Los conocimientos de artes marciales transmitidos a través de distintas generaciones
                            por maestros coreanos a sus discípulos, primeramente coterráneos y posteriormente occidentales.
                        </li>
                        <li>
                            Los conocimientos actuales inherentes a la Educación Fisica adaptados a los requerimientos del Taekwon-Do
                        </li>
                        <li>
                            Los conocimientos relativos a la docencia, teniendo en cuenta sus aspectos pedagógicos, didácticos y
                            psicológicos, en constante desarrollo y evolución.
                        </li>
                        <li>
                            Por último, y no menos importante, los preceptos que nos han transmitido nuestros maestros: Integridad, Lealtad, Perseverancia, Disciplina, Autocontrol, Respeto.
                        </li>
                    </ul>


                    Nos enfocamos en el mejoramiento de las capacidades físicas del alumno, poniendo especial énfasis en la flexibilidad y la coordinación, y sin perder de vista cualidades como resistencia, velocidad y fuerza. Todo ello en un marco ético de temperancia.<br />
                                                                                                                                                                                                                                                                              <br />
                    <ul>
                        <li>
                            En los últimos años se ha incrementado la cantidad de ninos que practica Taekwon-Do, que desarrolla en ellos un alto grado de concentracion y disciplina, ayudándolos de una manera notable en su crecimiento psicofísico, incentivando sus cualidades motoras.
                        </li>
                        <li>
                            Otros objetivos de fundamental importancia son: Respeto, Autocontrol e Integridad , preceptos que se ponen a prueba constantemente de la práctica.
                        </li>
                        <li>
                            El programa de enseñanza del TKD, brinda a través de sus niveles de graduaciones una amplia gama de técnicas que van desarrollando en el individuo la seguridad y la confianza en si mismo, pero por sobre todas las cosas el sentido de la lealtad, el compañerismo y el respeto por sus superiores y semejantes, aun del ocasional rival.
                        </li>
                    </ul>
                </p>
            </div>
        </section>
    </div>
</div>

