@{
    ViewData["Title"] = "Home Page";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <div class="sh__content">
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/picture/ACTI.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/actiLogo.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/picture/ACTI2.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/ACTI7.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/picture/ACTI3.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/actiLogo.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/picture/ACTI4.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/actiLogo.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/picture/ACTI5.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/actiLogo.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
        <div class="sh__item">
            <img src="~/picture/ACTI6.jpg" alt="imgText" class="imgSlider" />
            <img src="~/picture/actiLogo.png" alt="imgText" class="imgSlider" />
            <!-- Item Info -->
            <div class="sh__meta">
                <h4></h4>
                <span>
                    <a href=""></a>
                </span>
            </div>
        </div>
    </div>
    <!--botones-->
    <div class="sh__btns">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
    </div>
    <!--flechas-->
    <div class="sh__arrows">
        <label for="s1"></label>
        <label for="s2"></label>
        <label for="s3"></label>
        <label for="s4"></label>
        <label for="s5"></label>
        <label for="s6"></label>
    </div><!-- .sh__arrows -->
</div>